&nbsp;
<hr />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<p style="font-size:150%;text-align:center;color:grey";>La commercialisation des logements neufs en Pays de la Loire</p>

<div class="col-md-6">

<p style="text-align: left;">Rédaction et mise en forme : Maël THEULIERE&nbsp;
<a href="mael.theuliere@developpement-durable.gouv.fr" class="fa fa-envelope"></a>
    <a href="tel: 0272747450" class="fa fa-phone"></a></p>
<p style="text-align: center;">Une production du</p>
<center><img src="www/Logo_datalab.svg", width="200"></center>

</div>
       
<div class="col-md-6">

<p style="text-align: left;">Direction régionale de l’environnement de l’aménagement et du logement</p>

<p style="text-align: left;">Service connaissance des territoires et évaluation </p>

<p style="text-align: left;">Division de l'observation,des études et des statistiques</p>

<p style="text-align: left;">5 rue Françoise Giroud -CS1632644263 Nantes Cedex 2</p>

<p style="text-align: left;">Tél. 02 72 74 73 00</p>

<p style="text-align: left;">Directrice de la publication : Annick Bonneville</p>

<p style="text-align: left;">ISSN : 2109-0025</p>

<p style="text-align: left;">©DREAL 2019</p>
</div>
	
<hr />

